# Assignment 2
For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [1]:
import pandas as pd
import numpy as np
df= pd.read_csv('NISPUF17.csv')
df.head(2)

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df1 = df.loc[(df.P_NUMHIN > 0)]
c_had_m = df1.loc[(df1.CBF_01 == 1), 'CBF_01'].value_counts().sum()
#print(c_had_m)
c_n_m = df1.loc[(df.CBF_01 ==2), 'CBF_01'].value_counts().sum()
tot_v = df1['P_NUMHIN'].value_counts().sum()
print('Vaccine'+':'+ str(tot_v)+"   child_has_milk " + str(c_had_m)+"    child_not_milk"+ str(c_n_m))
avg_has = c_had_m/tot_v
avg_not = c_n_m/tot_v
print(avg_has)
print(avg_not)

Vaccine:1588   child_has_milk 1369    child_not_milk212
0.8620906801007556
0.13350125944584382

In [3]:
df1 = df.loc[(df.P_NUMHIN > 0) & (df.CBF_01 < 77)]
vac = df1['P_NUMVRC'].value_counts().sum()
c_had_m = df1.loc[(df1.CBF_01 == 1), 'CBF_01'].value_counts().sum()

c_n_m = df1.loc[(df.CBF_01 ==2), 'CBF_01'].value_counts().sum()
tot_v = df1['P_NUMHIN'].value_counts().sum()

avg_has = vac/c_had_m
avg_not = vac/c_n_m
#c_had_m
print(avg_has)
print(avg_not)
len(df1)

1.1548575602629656
7.4575471698113205

1581

In [4]:
dfm= df.loc[(df.P_NUMVRC > 0) & (df.HAD_CPOX < 77)]

m_h_c = dfm.loc[(dfm.SEX ==1 ) & (dfm.HAD_CPOX == 1), 'SEX'].value_counts().sum()
f_h_c = dfm.loc[(dfm.SEX == 2) & (dfm.HAD_CPOX == 1), 'SEX'].value_counts().sum()
m_n_c = dfm.loc[(dfm.SEX ==1 ) & (dfm.HAD_CPOX == 2), 'SEX'].value_counts().sum()
f_n_c = dfm.loc[(dfm.SEX ==2 ) & (dfm.HAD_CPOX == 2), 'SEX'].value_counts().sum()
#total_vac = dfm['P_NUMVRC'].value_counts().sum()
por_f = f_h_c/(f_h_c+ f_n_c)
por_m = m_h_c/(m_h_c+m_n_c)
c={}
c['Male'] = por_m
c['Female'] = por_f
c
dfm

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
6,7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
10,11,128211,12821,1,335.398714,198.123294,1057,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
12,13,137041,13704,1,82.582116,45.544717,1051,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
16,17,188611,18861,1,345.352030,196.111859,1057,2017,NaN,2,...,VO,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28446,28447,193801,19380,1,321.058203,110.009181,2047,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
28447,28448,136841,13684,1,593.426753,337.255316,2031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28449,28450,132081,13208,1,166.681363,96.330007,2059,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28452,28453,82151,8215,1,335.456813,159.895243,2056,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28454,28455,191451,19145,1,59.626969,29.187316,2074,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0

In [6]:
dfm.groupby(['SEX', 'HAD_CPOX']).size().unstack().apply(lambda x:x/ x.sum(), axis=1)

HAD_CPOX         1         2
SEX
1         0.009583  0.990417
2         0.007732  0.992268

In [89]:
df1 = df.loc[(df.P_NUMHIN > 0) & (df.CBF_01 <77)]
df1.groupby(['P_NUMHIN', "CBF_01"]).size().unstack().fillna(0).apply(lambda x: x/x.sum(), axis=1)#.sum()
df1.groupby(["CBF_01",'P_NUMHIN']).size().unstack().fillna(0)#.apply(lambda x: x/x.sum(), axis=1)#.sum()

P_NUMHIN    1.0    2.0    3.0    4.0  5.0
CBF_01
1         522.0  230.0  340.0  272.0  5.0
2          73.0   37.0   52.0   50.0  0.0

In [ ]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [ ]:
def average_influenza_doses():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

In [ ]:
def chickenpox_by_sex():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. If the `had_chickenpox_column` is either `1` (for yes) or `2` for no, and that the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine, then a positive correlation (e.g. `corr > 0`) would mean that an increase in `had_chickenpox_column` (which means more no's) would mean an increase in the `num_chickenpox_vaccine_column` (which means more doses of vaccine). If `corr < 0` then there is a negative correlation, indicating that having had chickenpox is related to an increase in the number of vaccine doses. Also, `pval` refers to the probability the relationship observed is significant. In this case `pval` should be very very small (will end in `e-18` indicating a very small number), which means the result unlikely to be by chance.

[1] This isn't really the full picture, since we are not looking at when the dose was given. It's possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [ ]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
                   "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    #return corr

    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."